<launch>
	<include file = "$(find kobuki_fleet_launch)/launch/fleet_robot.launch">
	<arg name="robot_ns" default="robot5" />
	<arg name="robot_id" default="5" />
	<arg name="offset_x" default="1.2" />
    <arg name="offset_y" default="6.7" />	  
    <arg name="offset_yaw" default="0.0" />	
    <arg name="simulation" default="true" />
	</include>
</launch>