<launch>
	<include file = "$(find kobuki_fleet_launch)/launch/fleet_robot.launch">
	  <arg name="robot_ns" default="robot0" />
	  <arg name="robot_id" default="0" />
	  <arg name="offset_x" default="1.0" />
      <arg name="offset_y" default="1.0" />	  
    <arg name="offset_yaw" default="0.0" />
    <arg name="simulation" default="true" />
	</include>
</launch>